
jfcnproject/db.sqlite3
jfcnproject/jfcnproject/__pycache__/settings.cpython-36.pyc
jfcnproject/jfcnproject/__pycache__/settings.cpython-36.pyc
jfcnproject/logs/all.log
jfcnproject/public/__pycache__/views.cpython-36.pyc
*.pyc
*.pyc
