{% extends 'base.html' %}


{% block body_content %}

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td align="center" class="biaoti" height="60">运维通讯录</td>
    </tr>
    <tr>
        <td align="right" height="25">2018-01-10 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center">
    <tr>
        <td width="3%" class="btbg font-center titfont">姓名</td>
        <td width="10%" class="btbg font-center titfont">电话</td>
        <td width="10%" class="btbg font-center titfont">邮箱</td>
        <td width="10%" class="btbg font-center titfont">岗位</td>
        <td width="10%" class="btbg font-center titfont">QQ</td>
        <td width="10%" class="btbg font-center titfont">备注</td>
        <td width="10%" class="btbg font-center titfont"></td>
    </tr>
    {% for i in address_yunwei_list %}
    <tr>
        <td width="7%"  class="btbg2">{{ i.name }}</td>
        <td width="7%"  class="btbg2">{{ i.phone }}</td>
        <td width="7%"  class="btbg2">{{ i.email }}</td>
        <td width="7%"  class="btbg2">{{ i.position }}</td>
        <td width="7%"  class="btbg2">{{ i.QQ }}</td>
        <td width="7%"  class="btbg2">{{ i.note }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock body_content %}


